<mat-expansion-panel class="container" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
       <mat-icon>search</mat-icon> Enter Parameters 
      </mat-panel-title>
      <mat-panel-description (click)="openDialog()">
        Search Guide  
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="search">
      <mat-form-field >
        <mat-label>Keywords</mat-label>
        <input matInput type="text" [(ngModel)]="searchParameters">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Sources</mat-label>
        <mat-select [formControl]="selectedSources" multiple>
          <mat-option *ngFor="let source of sourcesList" [value]="source">{{source}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label> Language </mat-label>
        <input matInput type="text" [(ngModel)] = "language">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>What to get?</mat-label>
        <mat-select [(ngModel)]="selectedAction">
          <mat-option *ngFor= "let action of actionList" [value]="action.value">{{action.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <button mat-raised-button (click)="getter()">Submit</button>
    </div>
  
  </mat-expansion-panel>
  
  <mat-expansion-panel *ngIf="this.load" id="statistics" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> <mat-icon>keyboard_arrow_down</mat-icon></mat-panel-title>
      <mat-panel-description> "-{{searchParameters}} -{{selectedSources.value}} -{{language}} -{{selectedAction}}" </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
  
  
  
  
  <div *ngIf="this.load" >
    <div *ngFor="let articlesFromSource of this.data | keyvalue">
      <mat-card *ngFor="let item of articlesFromSource.value" class="card">
        <mat-card-title>{{item["title"]}}</mat-card-title>
        <mat-card-content>
          <p> Author: {{item["author"]}}</p> 
          <p> Content: {{item["content"]}}</p> 
          <p> Description: {{item["description"]}}</p> 
          <p> Published At: {{item["publishedAt"]}}</p> 
          <p> Source: {{item["source"]}}</p> 
          <p> url: <a href="{{item['url']}}"> {{item["url"]}} </a></p> 
        </mat-card-content>
      </mat-card>
  
    </div>
   
  </div>
  
  
  
  