
.container {
    height: 100%;
    width: 100%;

    background: #eee;
  }

.container mat-sidenav{
    padding: 30px;
    display: flex;
}

.container mat-sidenav p {
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}